<footer class="app-fotter">
    <div class="fotter-content-container">
        <div id="first-footer-block" class="fotter-section">
            <div class="animated-frame">
                <p>
                    CSS <br>
                    IS <br>
                    AWSOME <br>
                </p>
            </div>
        </div>
        <div id="second-footer-block" class="fotter-section">
            <h3>natbah</h3>
        </div>
        <div  id="third-footer-block" class="fotter-section">
            <button>
                POKAŻ
            </button>
        </div>
    </div>

</footer>
