<footer class="app-fotter">
  <div class="fotter-content-container">
    <div id="first-footer-block" class="fotter-section">
      <div class="slider-container">
        <div class="slider" [class.slider__active]="showDialog">
          <div class="options-holder">
            <p (click)="resetSettings()">ZRESETUJ USTAWIENIA</p>
            <P (click)="showPersonalData()">POKAŻ DANE OSOBOWE</P>
          </div>
        </div>
      </div>
      <div class="animated-frame">
        <p>
          CSS <br />
          IS <br />
          AWSOME <br />
        </p>
      </div>
    </div>
    <div id="second-footer-block" class="fotter-section">
      <h3>natbah</h3>
    </div>
    <div id="third-footer-block" class="fotter-section">
      <div class="slider-container">
        <div class="slider" [class.slider__active]="showDialog">
          <div class="options-holder">
            <div (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">
              <img width="16" height="16" [src]="imgSrc1" alt="" />
              <p (click)="resetSettings()">ZRESETUJ USTAWIENIA</p>
            </div>
            <div (mouseover)="onMouseOver1()" (mouseout)="onMouseOut1()">
              <img width="16" height="16" [src]="imgSrc2" alt="" />
              <P (click)="showPersonalData()">POKAŻ DANE OSOBOWE</P>
            </div>
          </div>
        </div>
      </div>
      <button (click)="onButtonClick()">
        POKAŻ
        <img
          width="12"
          height="12"
          [class.rotate-img__active]="showDialog"
          src="../../assets/arrow-up.png"
          alt=""
        />
      </button>
    </div>
  </div>
</footer>
