<footer class="app-fotter">
    <div class="fotter-content-container">
        <div id="first-footer-block" class="fotter-section">
            <div class="animated-frame">
                <p>
                    CSS <br>
                    IS <br>
                    AWSOME <br>
                </p>
            </div>
        </div>
        <div id="second-footer-block" class="fotter-section">
            <h3>natbah</h3>
        </div>
        <div  id="third-footer-block" class="fotter-section">
            <div class="slider-container">
                <div class="slider">
                    
                </div>
            </div>
            <button (click)="onButtonClick()">
                POKAŻ
                <img width="12" height="12" src="{{ showDialog ? '../../assets/arrow-down.png' : '../../assets/arrow-up.png'}}"/>
            </button>
        </div>
    </div>

</footer>
