<main class="main-content">
  <div class="caption-holder">
    <div>
      <h1>Nagłówek H1</h1>
      <hr />
    </div>
  </div>
  <div class="block-holder">
    <div class="block">
      <p>BLOK PIERWSZY</p>
      <div class="check-box-holder">
        <div *ngFor="let box of checkBoxes">
          <label for={{box.id}}>
            <input id={{box.id}} type="checkbox" [checked]="box.select" (change)="onInputChange(box.id)"/>
            <span class="checkmark"></span>
            {{box.caption}}
          </label>
        </div>
      </div>
    </div>
    <div class="block">
      <P>BLOK DRUGI</P>
      <div class="block-button-holder">
        <button (click)="replaceText()">ZASTĄP</button>
        <button (click)="addItemToList()">DOKLEJ</button>
      </div>
    </div>
    <div class="block">
      <div class="last-block-captions">
        <P>BLOK Z DŁUGĄ NAZWĄ KTÓRA SAMA SIĘ PRZYTNIE...</P>
      </div>
      <div class="text-holder" id="text">
           <p *ngFor="let item of addedData">
            {{item.text}}
          </p>
      </div>
    </div>
    <div class="bottom-block"></div>
  </div>
</main>
